{% extends "AppWeb/father.html" %}

{% load static %}

{% block tittle %} Editar Blog {% endblock %}

{% block link_cambiante2 %}
<li class="nav-item"><a class="nav-link" href="{% url 'editarPerfil' %}">Perfil</a></li>
{% endblock %}


{% block titulo %} Editar Blog {% endblock %}

{% block contenido_cambiante %}
<h1> Editar Blog </h1>

{% if user.is_authenticated %}

<form method="POST"> {% csrf_token %}
    
    {{ form.as_p }}
        
    <input type="submit" vaLue="Guardar">
    
</form>

{% endif %}

{% endblock %}