{% extends "AppWeb/father.html" %}

{% load static%}

{% block tittle %} cisne list {% endblock %}

{% block link_cambiante2 %}
    <li class="nav-item"><a class="nav-link" href="{% url 'editarPerfil' %}">Perfil</a></li>
{% endblock %}


{% block titulo %} Blogs {% endblock %}

{% block contenido_cambiante %}
<h1> Cisne </h1>
{% for cisne in object_list %}
    <li>    <table>
        {{ cisne.titulo }}
        {{ cisne.message }}
        <img src="{{cisne.imagen.url}}" class="" width="100px">

        <a class="btn btn-info" href="{% url 'CisneDetail' cisne.id %}">Ver</a> 
         
        {% if user.id == blog.user.id %}                         
            <a class="btn btn-primary" href="{% url 'CisneUpdate' cisne.id %}">Editar</a>
            -
            <a class="btn btn-danger" href="{% url 'CisneDelete' cisne.id %}">Eliminar</a>        
            {% else %}     
    {% endif %}
            
 
    </li></table>
{% endfor %}
{% if user.is_authenticated %}
 
    {% else %}
    <br>
    <h6>Si queres agregar un Blog tenes que Loguearte!</h6>
{% endif %}
{% endblock %}

{% block section_cambiante %}

{% endblock %}
