{% extends "AppWeb/father.html" %}

{% load static%}

{% block tittle %} Mensaje {% endblock %}

{% block link_cambiante2 %}
<li class="nav-item"><a class="nav-link" href="{% url 'editarPerfil' %}">Perfil</a></li>
{% endblock %}

{% block titulo %} inicio {% endblock %}

{% block imagen_cambiante%}

{% endblock %}

{% block titulo_cambiante %}

<h1 class="fw-bolder mb-1">{{ mensaje.message }}</h1>

{% endblock %}

{% block subtitulo_cambiante %}

<div class="text-muted fst-italic mb-2">Subtitulo</div>

{% endblock %}

{% block contenido_cambiante %}

<h2>Texto del inicio</h2>
    <p class="fs-5 mb-4">{{mensaje.message}}</p>
    {% if user.id == mensaje.user.id %}
<a class="btn btn-" href="{% url 'mensajeUpdate' mensaje.id %}">Editar</a>
{% endif %}
<a class="button" href="{% url 'mensaje' mensaje.id %}">Crear mensaje</a>

{% if mensaje.message %}
<br>
{{mensaje.message}}

 {% endif %}

{% endblock %}


