{% extends "AppWeb/father.html" %}

{% load static%}

{% block tittle %} message list {% endblock %}

{% block link_cambiante2 %}
    <li class="nav-item"><a class="nav-link" href="{% url 'editarPerfil' %}">Perfil</a></li>
{% endblock %}


{% block titulo_cambiante %} Mensaje {% endblock %}

{% block contenido_cambiante %}
<h1> Mensajes </h1>
{% for mensaje in object_list %}
    <li>    
        {{ mensaje.message }}
            
            <a class="btn btn-" href="{% url 'mensajeDetail' mensaje.id %}">Ver</a> 
                {% if user.id == mensaje.user.id %}                         
                    <a class="btn btn-" href="{% url 'mensajeUpdate' mensaje.id %}">Editar</a>
                    <a class="btn btn-" href="{% url 'mensajeDelete' mensaje.id %}">Eliminar</a>        
                    {% else %}     
            {% endif %}
        
    </li>
{% endfor %}
{% if user.is_authenticated %}
    <a class="button" href="{% url 'mensajeForm' %}">Crear mensaje</a>
    {% else %}
    <br>
    <h6>Si queres agregar un mensaje tenes que Loguearte!</h6>
{% endif %}
{% endblock %}

{% block section_cambiante %}

{% endblock %}
